.item-list {
    margin: 24px 0;
}

.item-list strong {
    margin: 24px 0;
    color: #539BF5;
    font-size: 24px;
}

.item-list p {
    font-size: 24px;
    color: #999999;
    margin: 24px 0;
}